.logo {
    background-color: #4B1979;
    width: 105px;
    height: 35px;
    margin-left: 136px;
}

.navbar {
    width: 100%;
    display: flex;
    position: sticky;
    max-height: 84px;
    color: black;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15)
}

.searchBar {
    width: 400px;
    display: flex;
    border-radius: 16px;
    padding-left: 10px;
    height: 35px;
    background-color: #EEEEEE;
    border-color: #EEEEEE;
    margin-left: 0;
    break-inside: inherit;
    position: relative;
}

.test {
    justify-content: right;
}

.searchIcon {
    display: flex;
    position: absolute;
    padding: 10px;
    padding-right: 10px;
    color: #8A8A8A;
}

.menu,
.nav {
    margin-right: 136px;
}

.button-menu {
    background-color: #7126B5;
    display: flex;
    border-radius: 12px;
    width: 105px;
    height: 35px;
    justify-content: space-around;
    color:#FFFFFF;
    border-color: #7126B5;
}

.NavLink {
    margin-left: -250px;
}

p,
.menu {
    font-size: 16px;
    font-weight: 400;
}

.link {
    border-color: #151515;
}

.link:hover {
    color: #7126B5;
}

ul {
    position:absolute;
    background: #ffffff;
    border: 2px solid #e5e5e5;
    color: #3faffa;
    left: 85.9%;
}
li {
    list-style: none;  
    margin-bottom: 0.8em;
    justify-content: start;
    
}
.button-fa{
    background: #FFFFFF;
    border-color: #FFFFFF;;
}
.card-items {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-bottom: 10%;
  }
  
  .card-img-top {
    object-fit: cover;
    border-radius: 4px;
    margin-top: 5%;
    width: 90%;
    text-align: center;
  }
  
  .card-product {
    top: 10px;
    width: 430px;
    height: 300px;
    border-radius: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  }
  
  .card-bargain {
    top: 10px;
    width: 430px;
    height: 230px;
    border-radius: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  }
  
  .card-seller1 {
    width: 100%;
    height: 50%;
    border-radius: 16px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  }
  
  .seller-card {
    width: 430px;
    height: 85px;
    border-radius: 16px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  }
  
  .card-desc {
    top: 30px;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    border-radius: 16px;
    line-height: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  }
  
  .button-seller {
    justify-content: center;
    width: 95%;
    height: 50px;
    margin: 10px;
    background-color: #7126B5;
    border-color: #7126B5;
    color: white;
    border-radius: 16px;
  }
  
  .button-seller:hover {
    background-color: #7126B5;
    color: white;
    border-color: #7126B5;
  }
  
  .button-seller-outline {
    justify-content: center;
    width: 95%;
    height: 50px;
    margin: 10px;
    border-color: #7126B5;
    color: black;
    border-radius: 16px;
  }
  
  .button-seller-outline:hover {
    background-color: #7126B5;
    color: white;
    border-color: #7126B5;
  }
  
  .seller-btn {
    background-color: white;
    border-color: #7126B5;
    color: black;
    border-radius: 12px;
    margin-top: 7px;
  }
  
  .seller-btn:hover {
    background-color: #7126B5;
    border-color: #7126B5;
    color: white;
  }

  .card-test {
    width: 268px;
    height: 270px;
    background: #FFFFFF;
    /* Shadow/High */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
  }
  
  .active {
    color: #7126B5;
  }
  
  .text-decoration {
    text-decoration: none;
  }
  
  .link {
    color: black;
  
  }
  
  .li {
    text-decoration: none;
    list-style-type: none;
  }
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;
    /* Neutral/02 */

    border: 1px dashed #D0D0D0;
    color: #8A8A8A;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    height: 91%;
}