/* Modal */

.btn-close{
    background-image: url('../../../public/assets/images/fi_x_white.png') !important;
    background-size: 36px;
}

.modal-body{
    padding: 0rem 1rem 0rem 1rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.modal-header{
    margin-right: 16px;
}

.modal-title{
    margin-right: 16px;
    margin-left: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    
color: #000000;
}

.modal-text{
    color: #8A8A8A;
    margin-top: 16px;
    margin-right: 16px;
    margin-left: 16px;

}

.modal-content{
    width: 360px;
    height: 438px;
    left: 0px;
    top: 0px;

    /* Shadow/High */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}

.modal-header{
    border-bottom: 0px solid;
}

.card-product-modal{
    width: 296px;
    height: 80px;
    background: #EEEEEE;

    /* Shadow/High */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    margin-right: 16px;
    margin-left: 16px;
}

.modal-footer{
    border-top: 0px solid;
    align-items: center !important;
    justify-content: center;
    padding-top: 0px;
}

.input-modal{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.input-tawar{
    margin-top: 24px;
    margin-right: 16px;
    margin-left: 16px;
    align-items: center;
    justify-content: center;

}

.card-title-product{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    
    /* identical to box height, or 143% */
    
    color: #000000;
}

.card-text-product{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    
    /* identical to box height, or 143% */
    
    /* Neutral/05 */
    color: #151515;
}

.form-control-tawar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* Neutral/02 */
    border: 1px solid #D0D0D0;
    border-radius: 16px;
    width: 296px;
    height: 48px;

    padding: 16px
}

.btn-save{

    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: center;
    gap: 4px;

    width: 304px;
    height: 48px;

    /* Primary/Purple/04 */
    background: #7126B5;
    border-radius: 16px;
    border-color: #7126B5;        
}

.alert{
    position: absolute;
}

.alert-success{

    color: #FFFFFF;
    background: #73CA5C;
    width: 500px;
    height: 52px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 12px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    
}

.btn-close{
    background-image: url('../../../public/assets/images/fi_x.png') !important;
    background-size: 20px;
}

.dropdown-menu{
    width: 376px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}

.dropdown-menu.show{
    left: -330px;
}

.card-text-notification{
    margin-bottom: 4px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #8A8A8A;
}

.card-title-price-linethrough{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: line-through;
}

.card-title-product{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.card-title-bargain{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
