/* .image-registration {
    background-image: url('../images/register.png') !important;
    position: absolute;
    width: 100%;
    height: 100%;
} */

.form{
    font-family: 'Poppins';
    margin-top:200px;
    margin-left: 104px;
    
}

.form__input{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;
    width: 452px;
    height: 48px;

    border: 1px solid #D0D0D0;
    border-radius: 16px;
    
}

.form-title{
    
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.Nama{
    margin-top: 16px;
}

.email{
    margin-top: 16px;
}

.password{
    margin-top: 16px;
}

.btn-register{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    gap: 4px;
    margin-top: 24px;

    width: 452px;
    height: 48px;

    /* Primary/Purple/04 */
    background: #7126B5;
    border-radius: 16px;
    text-align: center;

    /* Neutral/01 */
    color: #FFFFFF;
}


.login-direct{
    margin-top: 40px;
    margin-left: 80px;
}

.navbar-expand-lg{
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.navbar-brand{
    width: 100px;
    height: 34px;
    /* Primary/Purple/05 */
    background-color: #4B1979;
}

.search-bar{
    flex-direction: row;
    padding: 12px 24px;
    gap: 16px;
    
}

.cari-produk{
    position: relative;
    width: 444px;
    height: 48px;
    right: 170px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    background-image: url('../images/fi_search.png') !important;
    background-repeat: no-repeat !important;
    background-position: 390px 12px !important;
    background: #EEEEEE;
    border-radius: 16px;
    border-color: white;
}

.nav-item-list{
    background-image: url('../images/fi_list.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    margin-right: 24px;
}

.nav-item-notification{
    background-image: url('../images/fi_bell.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    margin-right: 24px;
}

.nav-item-user{
    background-image: url('../images/fi_user.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}


.carousel-item{
    width: 600px;
    height: 436px;
}

.carousel-inner{
    width: 600px;
}

.card-product{
    margin-left: 32px;
    width: 336px;
    height: 266px;
}

.card-body{
    margin-left: 32px;
    width: 336px;
    height: 266px;

    background: #FFFFFF;

    /* Shadow/High */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}

.card-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.card-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    /* identical to box height, or 143% */

    /* Neutral/03 */
    color: #8A8A8A;
}

.btn-terbitakan{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    gap: 4px;

    position: absolute;
    width: 304px;
    height: 48px;
    margin-top: 16px;

    /* Primary/Purple/04 */
    background: #7126B5;
    border-radius: 16px;
    border-color: #7126B5;
}

.btn-edit{
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    gap: 4px;

    position: absolute;
    width: 304px;
    height: 48px;
    margin-top: 78px;

    /* Neutral/01 */
    background: #FFFFFF;
    color: #000000;

    /* Primary/Purple/04 */
    border: 1px solid #7126B5;
    border-radius: 16px;
    
}

.card-seller{
    position: absolute;
    width: 336px;
    height: 80px;
    margin-left: 32px;   
}

.card-body-seller{
    position: absolute;
    width: 336px;
    height: 80px;
    margin-left: 32px;
    margin-top: 24px;
    /* Neutral/01 */
    background: #FFFFFF;
    background-repeat: no-repeat !important;
    background-position: left !important;

    /* Shadow/Low */
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}

.seller-image{
    width: 48px;
    height: 48px;
    margin-left: 16px;
    margin-top: 16px;
    margin-right: auto; 
    flex: none;
 
}

.card-description{
    width: 600px;
    height: 339px;


    /* Neutral/01 */
    background: #FFFFFF;
}

.card-body-description{
    width: 600px;
    height: 339px;
    margin-top: 24px;
    padding: 16px;

    /* Neutral/01 */
    background: #FFFFFF;

    /* Shadow/Low */
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}



/*=========================================================*/
                  /*---MEDIA QUERY--*/
/*=========================================================*/


/*INFO  PRODUCTPAGE*/
@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 640px) {
    }

 @media only screen and (max-width: 991px) {
        }


        

    
    




