* {

    font-family: 'Poppins';

  } 


  .form-control {

    border-radius: 0.7rem;

  }


  .btn-primary {

    background-color: #7126B5;

    border-radius: 0.7rem;

    border-color: #7126B5;

  }


  .btn-primary:hover {

    background-color: #7126B5;

  }


  .text-primary > b{

    color: #7126B5;

  }


  .btn-outline-primary{

    background-color: #fff;

    border-radius: 0.7rem;

    border-color: #7126B5;

    color: #7126B5;

  }

  .btn-outline-primary:hover{

    background-color: #7126B5;

  }



  
/*=========================================================*/
                  /*---MEDIA QUERY--*/
/*=========================================================*/

/*********MOBILE**********/

  /*INFO PRODUCT*/
  @media only screen and (min-width: 120px) and (max-width: 767px) { 
.Preview{
  position: relative;
  padding-right: 55%;

}
.Terbitkan{
  position: absolute;
  padding-left: 55%;
  margin-top: -0%;

}

/* .cc .Preview{
  margin-bottom: 10%;
} */
}


/*TABLET*/
@media only screen and (min-width: 767px) and (max-width: 900px){
.Body{
  position: absolute;

}
}
